*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #EFEFEF;
  color:white;
  font-size: 22px;;
}

#container{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: calc(14vh - 10px) calc(60vh - 8px) calc(17vh - 10px) calc(30vh - 10px) calc(50 - 50px) calc(6vh - 10px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#container .celda1{
  padding: 9px;
  background-color:#C0E9C7;
  border-radius: 5px;
  grid-row: 1/2;
  grid-column: 1/5;
}
h1{
    color: #FFFF;
    font-size: 2.5em;
}
#container .celda2{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-row: 2/3;
  grid-column: 1/5;
}
#container .celda2 img{
width: 58%;
height: 100%;
}
#container .celda3{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-row: 3/4;
  grid-column: 1/5;
}
#container .celda4{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 1/2;
}
#container .celda4 img{
width: 58%;
height: 100%;
}
#container .celda5{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 2/3;
}
#container .celda5 img{
width: 58%;
height: 100%;
}
#container .celda6{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 3/4;
}
#container .celda6 img{
width: 58%;
height: 100%;
}
#container .celda7{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-row: 4/5;
  grid-column: 4/5;
}
#container .celda7 img{
width: 58%;
height: 100%;
}
#container .celda8{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 1/2;
}
#container .celda8 img{
width: 58%;
height: 100%;
}
#container .celda9{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 2/3;
}
#container .celda9 img{
width: 58%;
height: 100%;
}
#container .celda10{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 3/4;
}
#container .celda10 img{
width: 58%;
height: 100%;
}
#container .celda11{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-row: 5/6;
  grid-column: 4/5;
}
#container .celda11 img{
width: 58%;
height: 100%;
}
#container .celda12{
  padding: 9px;
  background-color:#C0E9C7;
  border-radius: 5px;
  grid-row: 6/7;
  grid-column: 1/5;
